<div class="x content storyline-item story <%= @story['format'] == 'VideoFormat' ? 'video' : 'text'; %>" data-video-url="<%= @story['video'] %>">
    <img class="story-image" src="<%= @story['image'] %>">
    <div class="secondary">
        <div class="icon gel"><%= @story['format'] == 'VideoFormat' ? '+' : 'Y'; %></div>
        <h1 class="title"><%= @story['title'] %></h1>
        <div class="description-outer">
            <p class="description"><%= @story['description'] %></p>
            <% if @story['paragraphs'] %>
            <div class="article-content"><p><%= @story['paragraphs'].join('</p><p>') %></p></div>
            <% end %>
        </div>
    </div>
</div>